					<h1>MetHotels Home page</h1>
	<div class="row">
					<h3>JSON iz PHP servisa parsovan</h3>
						<div *ngFor="#soba of sobe">
						Soba broj: {{soba.broj}} je slobodna {{ soba.slobodna }} a tip sobe je {{soba.tip_sobe}}
						<br>					
					</div>
	</div>


	<div *ngFor="#korisnik of korisnici">
Ime: {{korisnik.name}}
<br/>
Email: {{korisnik.email}}
<br/>
<span *ngIf="korisnik.gender == 'male'">
Pol: Muško
</span>
<span *ngIf="korisnik.gender != 'male'">
Pol: Žensko
</span><br/>
Company: {{korisnik.company}}
<br/>  <br/>
</div>

			<div class="row">
				<div class="col-sm-4">
					<h3>Column 1</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit...
					</p>
					<p>
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...
					</p>
				</div>
				<div class="col-sm-4">
					<h3>Column 2</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit...
					</p>
					<p>
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...
					</p>
				</div>
				<div class="col-sm-4">
					<h3>Column 3</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit...
					</p>
					<p>
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...
					</p>
				</div>
			</div>
