<form class="navbar-form navbar-left" role="search">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="name">
    </div>
</form>
<div class="col-lg-12">
<br/>Sobe<br/> 	<br/>
<div *ngFor="#soba of sobe| SearchPipe:name">
	Ime: {{soba.name}}
	<br/>
	Email: {{soba.email}}
	<br/>
	<span *ngIf="soba.gender == 'male'">
		Pol: Muško
	</span>
	<span *ngIf="soba.gender != 'male'">
		Pol: Žensko
	</span><br/>
	Company: {{soba.company}}
	<br/>	<br/>
</div>
</div>
